<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What Gender Is Your Name?</title>

    <style>
        
        .heading {
            font-size: 3rem;
            background-color: lightpink;
            position: relative;
            padding: 30px;
            
        }
        .order {
                position: absolute;
                right: 10px; 
                
            }
        .home {
            position: absolute;
            padding-left: 1150px;
        }

       
    </style>
</head>

<body>
    <div class="heading">
        What Gender Is Your Name?
        <!-- <a class='home' href="index.ejs">Home</a> -->
        <a class='order' href="order.ejs">Guess</a>
    </div>
</body>
</html>